# Brand theme configurations
THEME_BRAND_PRIMARY="#00eb18"
NEXT_PUBLIC_THEME_BRAND_LOGO_URI="https://assets.rabbithole.gg/opt-gateway-logo.png"
NEXT_PUBLIC_THEME_BRAND_OG_IMAGE_URI="https://assets.rabbithole.gg/opt-gateway-og.png"

NEXT_PUBLIC_API_URL="https://public-api.rabbithole.gg"

# ConnectKit configurations 
NEXT_PUBLIC_ALCHEMY_API_KEY=""
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=""

# Quest Protocol referral rewards recipient
NEXT_PUBLIC_REFERRAL_REWARDS_ADDRESS=""

# Quest list filters
NEXT_PUBLIC_TASK_NETWORK="opt-mainnet"
NEXT_PUBLIC_REWARD_NETWORK="opt-mainnet"
